{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/trainers_style.css') }}">
{% endblock styles %}

{% block content %}
<div class="main">
    <h1>Список всех тренеров</h1>
    <ol class="trainers">
       {% for trainer in trainers %}
            <li><a href="{{ url_for('show_trainer', trainer_id=trainer[0]) }}">{{ trainer[1] }} {{ trainer[2] }} {{ trainer[3] }}</a></li>
       {% endfor %}
    </ol>
</div>
{% endblock content %}
