<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth/register_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="field">
                <input type="text" name="login" placeholder="Логин">
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Пароль">
            </div>
            <div class="field">
                <input type="password" name="password2" placeholder="Пароль (еще раз)">
            </div>
            <div class="field">
                <input type="text" name="surname" placeholder="Фамилия">
            </div>
            <div class="field">
                <input type="text" name="name" placeholder="Имя">
            </div>
            <div class="field">
                <input type="text" name="middle_name" placeholder="Отчество">
            </div>
            <div class="field">
                <input type="text" name="age" placeholder="Возраст">
            </div>
            <div class="field">
                <input type="text" name="exp" placeholder="Стаж тренировок">
            </div>
            <div class="field">
                <input type="text" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="">Выберите роль</label>
                <select name="role" id="">
                    <option value="trainer">Тренер</option>
                    <option value="beginner">Новичок</option>
                </select>
            </div>
            <div class="button">
                <button>Зарегестрироваться</button>
            </div>
        </form>
    </div>
</body>
</html>